<%- include("partials/header") %>
<form action="/" method="get">
    <button type="submit" id="back" class="btn btn-light mt-3 mx-4 position-absolute"><-------</button>
</form>
<div class="outer container d-flex align-items-center justify-content-center">
    <div class="inner row p-5 text-center text-muted border border-dashed rounded-4">
      <div class="col-12 mx-auto">
        <h1 class="text-body-emphasis">Register</h1>
  
        <form action="/register" method="post">
          <div class="d-flex justify-content-center mb-3 mt-4">
            <div class="form-floating w-75">
              <input type="text" class="form-control" id="floatingInput" required placeholder="Username" name="username" autocomplete="off">
              <label for="floatingInput">Username</label>
            </div>
          </div>
  
          <div class="d-flex justify-content-center mb-3">
            <div class="form-floating w-75">
              <input type="password" class="form-control" id="floatingPassword" required placeholder="Password" name="password" autocomplete="off">
              <label for="floatingPassword">Password</label>
            </div>
          </div>
  
          <button id="register" class="btn btn-secondary px-5 mb-2 register" type="submit">
            Register
          </button>
        </form>
  
      </div>
    </div>
  </div>
<%- include("partials/footer") %>